<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="requester" class="uk.co.grahamcox.tcg.webapp.cucumber.requests.RequesterFactoryBean" />

    <bean id="browserHolder" class="uk.co.grahamcox.tcg.webapp.cucumber.browser.BrowserHolder" destroy-method="close" />
    <bean id="pageModelFactory" class="uk.co.grahamcox.tcg.webapp.cucumber.ui.PageModelFactory">
        <constructor-arg name="browserHolder" ref="browserHolder" />
    </bean>

    <bean id="mockServer" class="org.springframework.test.web.client.MockRestServiceServer" factory-method="createServer">
        <constructor-arg name="restTemplate" ref="restTemplate" />
    </bean>

    <bean id="seederBase" abstract="true" class="uk.co.grahamcox.tcg.webapp.cucumber.seeder.MongoSeeder">
        <constructor-arg name="database" ref="mongoDb" />
        <constructor-arg name="fieldMapping"><map /></constructor-arg>
        <constructor-arg name="defaultFieldValues"><map /></constructor-arg>
        <constructor-arg name="complexFieldMapping"><map /></constructor-arg>
        <constructor-arg name="typeConverters"><map /></constructor-arg>
    </bean>

    <bean id="responseMatcherBase" abstract="true" class="uk.co.grahamcox.tcg.webapp.cucumber.matcher.ResponseMatcher">
        <constructor-arg name="requester" ref="requester" />
        <constructor-arg name="typeConverters"><map /></constructor-arg>
    </bean>

    <bean id="errorResponseMatcher" parent="responseMatcherBase">
        <constructor-arg name="fieldMapping">
            <map>
                <entry key="Error Code" value="error" />
                <entry key="Fields" value="fields" />
            </map>
        </constructor-arg>
        <constructor-arg name="typeConverters">
            <map>
                <entry key="Fields">
                    <bean class="uk.co.grahamcox.tcg.webapp.cucumber.converters.MapTypeConverter">
                        <constructor-arg name="valueConverter"><null /></constructor-arg>
                    </bean>
                </entry>
            </map>
        </constructor-arg>
    </bean>

    <import resource="users.xml" />
    <import resource="authentication.xml" />
    <import resource="attributes.xml" />
    <import resource="races.xml" />
    <import resource="genders.xml" />
    <import resource="classes.xml" />
    <import resource="skills.xml" />
    <import resource="abilities.xml" />
    <import resource="characters.xml" />
</beans>